body {background-color: rgb(215, 250, 242);
}

#todo {
  width: 100%;
  height: 100%;
  }

  @import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Ubuntu', sans-serif;
  font-size: 100%;
 
}

form input {
    font-family: 'Ubuntu', sans-serif;
    font-size: 100%;
    text-align: center;
}