:root {
  --p-btn-border: #cacaca;
  --p-btn-def-bg: #fff;
  --p-btn-def-col: #333230;
  --p-btn-dir-col: #242424;
  --p-btn-scope-unactive: #212136;
  --p-btn-scope-action: #212136;
}

body {
  background-color: rgb(215, 250, 242);
  background: #f2f2f2;
  font-family: 'Ubuntu', sans-serif;
  font-size: 100%;
}

/**
  Columnass div incidencias e incidencia detallada
**/

.columna {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.contenidos:after {
  content: "";
  display: table;
  clear: both;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.aparecer {
  -webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

.desaparecer{animation:slide-out-bck-center .5s cubic-bezier(.55,.085,.68,.53) both}

@keyframes slide-out-bck-center{0%{transform:translateZ(0);opacity:1}100%{transform:translateZ(-1100px);opacity:0}}


#form-inc {
  margin: 0% 2% 0% 2%;
  background-color: rgb(218, 218, 218);
  border: 4px groove rgb(187, 187, 187);
}

#form-inc h3 {
  margin: 2% 0% 0% 2%;
}

#datos-generales span {
  margin: 0% 0% 0% 5%;
}

form input {
  margin: 2% 0% 0% 0%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 100%;
  text-align: left;
}

#incidencia-detallada {
  text-align: left;
  font-size: 25px;
  width: 50%;
  height: 70%;
}

#incidencias {
  margin: 2% 0% 0% 2%;
}

#incidencias tr {
  background-color: black;
}

#incidencias div {
  text-align: left;
  font-size: 25px;
  border-top: solid gray 1px;
}

#incidencias button {
  text-align: right;
}

.p-btn {
  background: var(--p-btn-def-bg);
  border: 1px solid var(--p-btn-border);
  border-radius: .3rem;
  color: var(--p-btn-def-col);
  display: inline-block;
  font-family: -apple-system, "Inter", sans-serif;
  font-size: 1.1rem;
  margin: .7rem;
  padding: .4rem 1.2rem;
  text-decoration: none;
  text-align: center;
  box-shadow: 0px 2px 3px -2px rgba(0, 0, 0, .3);
  user-select: none;
  cursor: pointer;
}

.p-btn:focus {
  outline: 2px solid #64baff;
}

.p-btn.p-btn-block {
  display: block;
}

.p-btn.p-btn-sm {
  padding: .3rem 1.1rem;
  font-size: 1rem;
}

.p-btn.p-btn-md {
  padding: .8rem 2.4rem;
  font-size: 1.6rem;
}

.p-btn.p-btn-lg {
  padding: 1.2rem 2.8rem;
  font-size: 1.8rem;
}

.p-btn-mob {
  padding: 10px 40px;
  background: #227bec;
  color: #fff;
  border: 0;
  box-shadow: inset 0 1px 1px rgb(255 255 255 / 41%), 0px 2px 3px -2px rgba(0, 0, 0, .3);
}


.table-striped {
  background-color: #ffffff;
  color: rgb(0, 0, 0);

}


.p-btn-icon {
  float: right;
  margin-right: 2%;
  margin-top: 2%;
}

.p-btn {
  float: right;
  margin-right: 2%;
  margin-top: 1%;
}

#main-section {
  margin-left: 0%;
}

#buscador1 {
  margin-left: 2%;
}